*{
    font-family: sans-serif;
}
pre{
    text-align: center;
    margin-top: 60px;
    font-weight: bold;
    color: rgb(50, 139, 77);
    font-size: medium;
}
h1{
    text-align: center;
    font-size: 48px;
}
#main{
    display: flex;
}
#content{
    margin-left: 150px;
    margin-right: 30px;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding-block: 25px;
    padding-left: 20px;
}
li{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    list-style: none;
    padding-block: 25px;
    padding-left: 20px;
    margin: 10px;
    width: 300px;
}
li:hover{
    cursor: pointer;
    background-color: rgb(50, 139, 77);
}
a:hover{
    cursor: pointer;
    color: white;
}
img{
    width: 800px;
}
#main-introduction{
    margin-top: 16px;
}
h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
p{
    color: rgb(136, 136, 136);
    line-height: 30px;
}